@model BlogFull.Web.Models.ViewModels.SubmitPageViewModel

<div class="notification-bar" id="notification">
    <p id="notificationText" class="notification-bar__message"></p>
</div>

@using (Html.BeginForm("Submit", "Submit", FormMethod.Post, new { enctype = "multipart/form-data", @class = "submit-edit__form" }))
{
    @Html.AntiForgeryToken()

    <h3>New Post</h3>
    <span>
        @Html.TextBoxFor(m => m.Slug, new { placeholder = "URL Slug (Cannot be Changed)", @class = "submit-edit__input", required = true, autocomplete = "off" })
        @Html.ValidationMessageFor(m => m.Slug)
    </span>
    <span>
        @Html.TextBoxFor(m => m.Title, new { placeholder = "Title", @class = "submit-edit__input", required = true, autocomplete = "off" })
    </span>
    <span>
        @Html.TextAreaFor(m => m.BodyText, 10, 10, new { placeholder = "Body (Markdown Supported)", @class = "submit-edit__area", required = true, autocomplete = "off" })
    </span>
    <span>
        @Html.TextBoxFor(m => m.Categories, new { placeholder = "Categories (Comma Separated)", @class = "submit-edit__input", autocomplete = "off" })
    </span>
    <span>
        @Html.TextBoxFor(m => m.MetaDescNewPost, new { placeholder = "Post Extract", @class = "submit-edit__input", required = true, autocomplete = "off" })
    </span>
    <span>
        @Html.LabelFor(m => m.DontIndexNewPost, "Hide From Search Engines")
        @Html.CheckBoxFor(m => m.DontIndexNewPost, new { @class = "submit-edit__checkbox pull-right" })
    </span>
    <hr />
    <input id="btnSubmit" class="submit-edit__submit pull-right" type="submit" value="Create" onclick="SubmitPage();"/>
}

<div id="drop-area">
    <form class="image-submit-form">
        <p>Drop images here</p>
        <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
        <label class="button" for="fileElem">Select files</label>
    </form>
    <progress id="progress-bar" max=100 value=0></progress>
    <div id="gallery" />
</div>

<script src="~/Content/JS/image_upload.js" async></script>